*.py[cod]
*.orig

__pycache__
.cache/

# Packages
*.egg
*.egg-info

build/
dist/
.envrc

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage*
.tox
.noseids
htmlcov/

# Ignore python virtual environments
env*

# Ignore coverage output
*.xml
coverage/

# Ignore benchmarks output
perf.log
perf.svg
