dist: xenial
addons:
  apt:
    packages:
      - rabbitmq-server
sudo: true

language: python
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

env:
  matrix:
    - CELERY=3
    - CELERY=4

matrix:
  include:
  - python: '3.7'
    env:
      CELERY=4 COVER=1

install:
  - make install-ci
  - pip install celery~=${CELERY}.0

services:
  - docker
  - postgresql
  - rabbitmq
  - redis-server

before_script:
  - docker-compose up -d dynamodb
  - psql -c 'create database test;' -U postgres

  # waiting for DynamoDB
  - while [[ $(curl -so /dev/null -w '%{response_code}' localhost:8000) != '400' ]]; do sleep 1; done

  # workaround for Travis CI issue #7940
  # https://github.com/travis-ci/travis-ci/issues/7940
  - sudo rm -f /etc/boto.cfg

script:
  - make test lint

after_success:
  if [ "$COVER" = "1" ]; then coveralls -v ; fi
