version: "3"

services:
  rabbitmq:
    image: rabbitmq
    ports:
      - "5672:5672"

  redis:
    image: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres
    environment:
      POSTGRES_DB: test
    ports:
      - "5432:5432"

  mysql:
    image: mysql:5  # MySQLdb doesn't support MySQL 8
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=test
    ports:
      - "3306:3306"

  localstack:
    image: localstack/localstack:0.10.5
    environment:
      - SERVICES=dynamodb,s3
    ports:
      - "4569:4569"  # DynamoDB
      - "4572:4572"  # S3
